In [1]:
import pandas as pd
import sqlite3

In [2]:
schools_df = pd.read_csv('DOE_High_School_Directory_2016-geocoded.csv')
scores_df = pd.read_csv('SAT__College_Board__2010_School_Level_Results.csv')

In [3]:
schools_df.head(2)

,dbn,school_name,boro,building_code,shared_space,phone_number,fax_number,school_email,grade_span_min,grade_span_max,...,is_match,latitude,longitude,returned_address,side,state,state_fips,tiger_line,tract,zipcode
0,01M292,Henry Street School for International Studies,Manhattan,M056,Yes,212-406-9411,212-406-9417,cloughl@schools.nyc.gov,6,12,...,Match,40.713700,-73.98620,"220 HENRY ST, NEW YORK, NY, 10002",R,NY,36.0,59654332.0,201.0,10002
1,01M448,University Neighborhood High School,Manhattan,M446,No,212-962-4341,212-267-5611,ransonunhs@gmail.com,9,12,...,Match,40.712418,-73.98436,"200 MONROE ST, NEW YORK, NY, 10002",R,NY,36.0,59663661.0,202.0,10002

In [4]:
conn = sqlite3.connect('schools.db')

In [5]:
schools_df.to_sql('schools', conn)
scores_df.to_sql('sat_scores', conn)

In [6]:
df = pd.read_sql('SELECT * FROM schools', conn)

In [7]:
df.head()

,index,dbn,school_name,boro,building_code,shared_space,phone_number,fax_number,school_email,grade_span_min,...,is_match,latitude,longitude,returned_address,side,state,state_fips,tiger_line,tract,zipcode
0,0,01M292,Henry Street School for International Studies,Manhattan,M056,Yes,212-406-9411,212-406-9417,cloughl@schools.nyc.gov,6,...,Match,40.713700,-73.98620,"220 HENRY ST, NEW YORK, NY, 10002",R,NY,36.0,59654332.0,201.0,10002
1,1,01M448,University Neighborhood High School,Manhattan,M446,No,212-962-4341,212-267-5611,ransonunhs@gmail.com,9,...,Match,40.712418,-73.98436,"200 MONROE ST, NEW YORK, NY, 10002",R,NY,36.0,59663661.0,202.0,10002
2,2,01M450,East Side Community School,Manhattan,M060,Yes,212-460-8467,212-260-9657,tomm@eschs.org,6,...,Match,40.729782,-73.98299,"420 E 12TH ST, NEW YORK, NY, 10009",R,NY,36.0,59654596.0,3400.0,10009
3,3,01M509,Marta Valle High School,Manhattan,M025,Yes,212-473-8152,212-475-7588,jbailey2@schools.nyc.gov,9,...,Match,40.720505,-73.98539,"145 STANTON ST, NEW YORK, NY, 10002",R,NY,36.0,59654134.0,3001.0,10002
4,4,01M539,"New Explorations into Science, Technology and ...",Manhattan,M022,No,212-677-5190,212-260-8124,Sglasgall@schools.nyc.gov,0,...,Match,40.717888,-73.97982,"111 COLUMBIA ST, NEW YORK, NY, 10002",L,NY,36.0,610201451.0,2201.0,10002